<a href="https://colab.research.google.com/github/SinghRaghvendra/Python-projects/blob/main/oops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class Customer(): #class name
  category = "Fitness" # Class attribute
  def __init__(self, name, city, age, gender, height, weight): #Instance
    self.name = name #Instance attribute
    self.city = city
    self.age  = age
    self.gender = gender
    self.height = height
    self.weight = weight

  def display_profile(self):
    print(f"Category: {self.category}")
    print(f"Name: {self.name}")
    print(f"City: {self.city}")
    print(f"Age: {self.age}")
    print(f"Gender: {self.gender}")
    print(f"Height: {self.height}")
    print(f"Weight: {self.weight}")

  def greet(self):
        print(f"Hi, My name is {self.name}. I live in {self.city} and my age is {self.age}. "
              f"I am a {self.gender} of {self.height} height and {self.weight} weight. "
              f"I am passionate about {self.category}.")

In [ ]:
customer1.display_profile()

Category: Fitness
Name: Suzzane
City: london
Age: 32
Gender: Female
Height: 5.5
Weight: 59

In [ ]:
display_profile(customer2)

Category: Fitness
Name: Rishabh
City: Delhi
Age: 23
Gender: Male
Height: 5.7
Weight: 67

In [ ]:
greet(customer1)

Hi, My name is Suzzane. I live in london and my age is 32. I am a Female of 5.5 height and 59 weight. I am passionate about Fitness.

In [ ]:
class Job(Customer):
    def job(self):
        print(f"{self.name} works for a company.")  # Uses self.name from Customer class

In [ ]:
customer1 = Customer("Suzzane", "london", 32, "Female", 5.5,  59)
customer2 = Customer("Rishabh", "Delhi", 23, "Male", 5.7, 67)

In [ ]:
# Calling methods
customer1.display_profile()  # Inherited from Customer
customer1.greet()  # Defined in Job class

Category: Fitness
Name: Suzzane
City: london
Age: 32
Gender: Female
Height: 5.5
Weight: 59
Hi, My name is Suzzane. I live in london and my age is 32. I am a Female of 5.5 height and 59 weight. I am passionate about Fitness.

In [ ]:
job1 = Job("Suzzane", "london", 32, "Female", 5.5,  59)
job1.greet()
job1.job()
job1.display_profile()

Hi, My name is Suzzane. I live in london and my age is 32. I am a Female of 5.5 height and 59 weight. I am passionate about Fitness.
Suzzane works for a company.
Category: Fitness
Name: Suzzane
City: london
Age: 32
Gender: Female
Height: 5.5
Weight: 59

In [ ]:
#Multiple Inheritance

class Family(Customer):
    def family(self):
        print(f"{self.name} has a family!")  # Uses self.name from Customer class

In [ ]:
Family1 = Family("Rishabh", "Delhi", 23, "Male", 5.7, 67)
Family1.greet()
Family1.family()

Hi, My name is Rishabh. I live in Delhi and my age is 23. I am a Male of 5.7 height and 67 weight. I am passionate about Fitness.
Rishabh has a family!

In [ ]:
class member(Family, Customer):
  def member(self):
    print(f"{self.name} is a member of the family")

In [ ]:
member.greet(customer1)
member.family(customer1)
member.member(customer1)

Hi, My name is Suzzane. I live in london and my age is 32. I am a Female of 5.5 height and 59 weight. I am passionate about Fitness.
Suzzane has a family!
Suzzane is a member of the family